<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoAutomationSuite">

<listeners>
	<listener class-name="com.utils.TestListener"/>
</listeners>

<test name = "EndToEndPurchaseTest">

<parameter name = "username" value = "standard_user"/>
<parameter name = "password" value = "secret_sauce"/>

<classes>
	<class name ="com.test.SauceTest"></class>
</classes>
</test>
</suite> 